@import "tailwindcss";

@theme {
  --color-cofi-green:  #0B3D33;
  --color-cream: #FFF8E8;
  --color-menu-black: #000000;   
}

.theme-fria {
  --color-cofi-green: #FFF8E8;
  --color-cream: #11554A;
  --color-menu-black: #FFFFFF;
}


@keyframes ticker-scroll {
from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.ticker-track {
    animation: ticker-scroll 20s linear infinite;
}